
    <!DOCTYPE html>
    <html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <head>

        <meta charset="UTF-8">
        <title>{documentationName}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="Description">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <f:if condition="{darkMode}">
            <link
                rel="stylesheet"
                href="{f:uri.resource(path: 'EXT:doc/Resources/Public/docsify/dark.css')}"
            />
        </f:if>
        <link
            rel="stylesheet"
            href="{f:uri.resource(path: 'EXT:doc/Resources/Public/docsify/vue.css')}"
        />
        <link
            rel="stylesheet"
            href="{f:uri.resource(path: 'EXT:doc/Resources/Public/docsify/typo3.css')}"
        />
    </head>
    <body>
    <div id="app"></div>
    <script>
        var docRootPath = '{docRoothPath.path}';
        var documentationName = '{documentationName}';
        window.$docsify = {
            name: documentationName,
            themeColor: '#1e46b9',
            basePath: docRootPath,
            homepage: 'Home.md',
            loadSidebar: true,
            loadNavbar: false,
            subMaxLevel: 0,
            autoHeader: false
        }
    </script>
    <script src="{f:uri.resource(path: 'EXT:doc/Resources/Public/docsify/docsify_4.11.6.js')}"></script>
    <script src="{f:uri.resource(path: 'EXT:doc/Resources/Public/docsify/prism-php.min.js')}"></script>
    </body>
    </html>




